version: '3.8'
services: 

  main:
    image: sonatype/nexus3:3.30.1
    volumes:
      - {{ ssl_cert_dir }}:/etc/ssl/certs/
      - {{ data_dir }}:/nexus-data/
    user: "${UID}:${GID}"
    deploy:
      labels:
        - traefik.enable=true

{% for item in proxy %}
        - traefik.http.services.{{ item.service }}.loadbalancer.server.port={{ item.port }}
        - traefik.http.routers.{{ item.router }}.rule=Host(`{{ item.host }}`)
        - traefik.http.routers.{{ item.router }}.service={{ item.service }}
        - traefik.http.routers.{{ item.router }}.tls.certresolver=step-ca
{% endfor %}

    networks:
      - {{ docker_network }}
      
networks:
  {{ docker_network }}:
    external:
      name: {{ docker_network }}
