# docker-compose.yaml

version: '{{ docker_compose_version }}'
services: 

  main:
    image: sonatype/nexus3:3.30.0
    volumes:
      - {{ directories_data }}:/nexus-data
    user: "${UID}:${GID}"
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.services.{{ proxy_router_main }}.loadbalancer.server.port=8081
        - traefik.http.routers.{{ proxy_router_main }}.tls.certresolver=step-ca
        - traefik.http.routers.{{ proxy_router_main }}.rule=Host(`{{ proxy_domains | join('`,`') }}`)
    networks:
      - {{ docker_network }}
      
